@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés pour les barres de défilement */
@layer utilities {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') theme('colors.gray.100');
  }

  .dark * {
    scrollbar-color: theme('colors.gray.600') theme('colors.gray.800');
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: theme('colors.gray.100');
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background: theme('colors.gray.400');
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.500');
  }

  /* Mode sombre */
  .dark *::-webkit-scrollbar-track {
    background: theme('colors.gray.800');
  }

  .dark *::-webkit-scrollbar-thumb {
    background: theme('colors.gray.600');
  }

  .dark *::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.500');
  }
}

canvas {
	display: block;
}

/* Animation pour les popups */
@keyframes pop-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animate-pop-in {
  animation: pop-in 0.3s ease-out forwards;
}

.animate-pop-out {
  animation: pop-out 0.3s ease-in forwards;
}


.snow-container {
  position: relative;  /* Assurez-vous que la position de l'élément parent soit relative */
  width: 100%;
  height: 150px;  /* Ajustez la hauteur pour qu'il y ait suffisamment d'espace pour la neige */
  overflow: hidden;  /* Cache les débordements pour éviter que l'effet de neige ne dépasse */
}

.snow-pile {
  --overflow-x: 4px;
  --snow-image: url('https://assets.codepen.io/4175254/snow-cap-test-2.png');
  content: '';
  position: absolute;
  top: 0;  /* Positionnez-le tout en haut de la div */
  left: calc(var(--overflow-x) * -1);
  border-image-source: var(--snow-image);
  border-image-slice: calc(6 * 56 / 20) fill;
  border-image-width: calc(28px / 3);
  border-image-repeat: round;
  width: calc(100% + var(--overflow-x) * 2);
  height: 28px;  /* Hauteur de l'effet de neige */
  filter: drop-shadow(0 2px 1px rgb(0 0 0 / .25));
  opacity: 1;
}